ytd-watch-flexy {
    --ytd-watch-flexy-sidebar-width: 370px!important;
}

ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy,
ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
    padding-top: 0!important;
}

ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy {
    min-width: 350px!important;
}

ytd-watch-flexy[flexy_] #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy {
    min-height: calc(100vh - 55px)!important;
}