/* Full height chat */
html body ytd-watch-flexy {
    --ytd-watch-flexy-sidebar-width: 370px !important;
}

html body ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy,
html body ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
    padding-top: 0 !important;
}

html body ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy {
    min-width: 350px !important;
}

html body ytd-watch-flexy[flexy_] #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy {
    min-height: calc(100vh - 55px) !important;
}

/* Scrolling and input stuff */
yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y: hidden !important;
}

yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer:hover {
    overflow-y: scroll !important;
    /*margin-right: -15px !important;*/
}

yt-live-chat-message-input-renderer {
    padding: 9px !important;
}

/* Fix emotes height/width (same as twitch) */
#message.yt-live-chat-text-message-renderer img.emoji {
    height: 28px !important;
    display: inline-block !important;
    overflow: hidden  !important;
    max-width: 100%  !important;
    min-width: 20px !important;
    width: auto !important;
}


/* Fix kappa */
#message.yt-live-chat-text-message-renderer img[alt="🌝"] {
    background: url("https://static-cdn.jtvnw.net/emoticons/v1/25/1.0") no-repeat;
    width: 0px;
    height: 0px;
    padding-right: 22px;
    padding-bottom: 28px;
    background-size: 22px 28px;
    box-sizing: border-box;
}

/* Fix arvedans in tappelino chat */
#message.yt-live-chat-text-message-renderer img[src="https://yt3.ggpht.com/9Kw8Wn_6v3XV4ZGfD_Gfs9uhc2GGbi3Ld1qRZsBSqYN8Z7lwIZ66tFisVjq4ChquShQcuFX3=w24-h24-c-k-nd"] {
    background: url("https://media1.tenor.com/images/defb43db249779007ff867573d6db9bc/tenor.gif?itemid=15028810") no-repeat;
    width: 0px;
    height: 0px;
    padding-right: 22px;
    padding-bottom: 28px;
    background-size: 22px 28px;
    box-sizing: border-box;
}
/* Hide welcome message */
yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}